<nav>
<!--    {% url 'index' as index_url %}-->
    {% url 'public:index' as index_url %}
<!--    <span><a href="/">Home</a></span>-->
    <span>{% if request.path == index_url %}Home{% else %}<a href="{{ index_url }}">Home</a>{% endif %}</span>
<!--    it will make that home is fade out in home page-->
<!--    reference variable with double tag, instead of look up again-->


    {% url 'public:about' as about_url %}
    <span>{% if request.path == about_url %}About{% else %}<a href="{{ about_url }}">About</a>{% endif %}</span>
    {% url 'public:contact' as contact_url %}
    <span>{% if request.path == contact_url %}Contact{% else %}<a href="{{ contact_url }}">Contact</a>{% endif %}</span>
<!--    change url in one place but bring you to the same place everywhere-->
<!--    <span>About</span>-->
<!--    <span>Contact</span>-->

    <span style="float:right">
        {% if user.is_authenticated %}
            {% url 'profile' as profile_url %}
            <span>Hi {% if request.path == pofile_url %}{{ user.username }}{% else %}<a href="{{ profile_url }}">{{ user.username }}</a>{% endif %}</span>
<!--            <span>Hi {{ user.username }}!</span>-->
            <span><a href="{% url 'logout' %}">logout</a></span>
        {% else %}
            <span><a href="{% url 'login' %}">Login</a></span>
        {% endif %}
    </span>
</nav>